@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #060411;
}

input:focus {
  outline: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
  /* Firefox */
}

input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

section::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  display: none;
}
.curr-list::-webkit-scrollbar {
  width: 0 !important;
}
.curr-list {
  overflow: -moz-scrollbars-none;
}
.curr-list {
  -ms-overflow-style: none;
}
